* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-color: #010101;
    color: white;
    font-family: Akira_f, Bold;
    line-height: 1.55;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-image: url('../resources/bg.gif');
    background-size: cover; 
    background-position: center; 
    background-attachment: fixed; 
}

.mainmenu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: black;
    z-index: 1000;
    display: flex;
    font-size: 20px;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    max-height: 150px;
}

.avtr,
.crok {
    margin-right: 30px;
    vertical-align: middle;
    display: flex;
    align-items: center;
}

.crok ul {
    margin-right: 30px;
    vertical-align: middle;
    list-style: none;
    display: flex;
}

.crok li {
    margin-right: 30px;
    vertical-align: middle;
}

.crok a {
    vertical-align: middle;
    font-family: arial;
    font-size: 15px;
    color: white;
    text-decoration: none;
}

.crok a:hover {
    color: #8f0c03;
}

.avtr h1 {
    font-family: arial;
    font-size: 30px;
    color: white;
    vertical-align: middle;
}

.by {
    position: fixed;
    bottom: 10px;
    right: 10px;
    opacity: 0.5;
    font-size: 12px;
    white-space: nowrap;
}

.additional-text {
    position: center;
    top: 20%; 
    left: 50%;
    text-align: center;
    color: white;
    font-size: 20px;
    max-width: 900px; 
    line-height: 1.5;
}
.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.image-container img {
    width: 420px;
    height: 300px;
    margin: 40px 20px; 
    border: 1px solid white;
}

.image-container2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.image-container2 img {
    width: 420px;
    height: 300px;
    margin: 40px 20px;
    border: 1px solid white;
}

.image-container3 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.image-container3 img {
    width: 420px;
    height: 300px;
    margin: 40px 20px; 
    border: 1px solid white; 
}
.image-container4 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.image-container4 img {
    width: 420px;
    height: 300px;
    margin: 40px 20px;
    border: 1px solid white;
}

.image-container5 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.image-container5 img {
    width: 420px;
    height: 300px;
    margin: 40px 20px;
    border: 1px solid white; 
}
.image-container6 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.image-container6 img {
    width: 420px;
    height: 300px;
    margin: 40px 20px;
    border: 1px solid white; 
}